In [112]:
import pandas as pd
import numpy as np
import networkx as nx
from collections import defaultdict
import math

In [113]:
df = pd.read_excel('PIA_Normalized_IMR.xlsx')

In [114]:
df2 = pd.read_excel('3d_new_impact.xlsx')

In [115]:
temp_list = ['-2', '-1', '+1', '+2']

In [116]:
def calculate_impact(df, imr, mmr, paw, i):
    imr_head = 'IMR HI ' + i + '0% | Predicted Change'
    mmr_head = 'MMR HI ' + i + '0% | Predicted Change'
    paw_head = 'PAW HI ' + i + '0% | Predicted Change'
    
    imr_max = max(df[imr_head])
    imr_min = min(df[imr_head])
    
    mmr_max = max(df[mmr_head])
    mmr_min = min(df[mmr_head])
    
    paw_max = max(df[paw_head])
    paw_min = min(df[paw_head])
    
    net_max = max(imr_max, mmr_max, paw_max)
    net_min = min(imr_min, mmr_min, paw_min)

    for j in range(len(df)):
        if df[imr_head][j] > 0 :
            impact_imr = df[imr_head][j]/net_max
            imr.append(impact_imr)
        else:
            impact_imr = df[imr_head][j]/net_min
            imr.append(impact_imr)
        
        if df[mmr_head][j] > 0 :
            impact_mmr = df[mmr_head][j]/net_max
            mmr.append(impact_mmr)
        else:
            impact_mmr = df[mmr_head][j]/net_min
            mmr.append(impact_mmr)
        
        if df[paw_head][j] > 0 :
            impact_paw = df[paw_head][j]/net_max
            paw.append(impact_paw)
        else:
            impact_paw = df[paw_head][j]/net_min
            paw.append(impact_paw)

In [117]:
df_impact = pd.DataFrame()
df_impact['Taluka'] = df2['Taluka']
df_impact['District'] = df2['District_GIS']

In [118]:
# df_impact = df_impact.drop(226)
# df_impact
df_impact

        Taluka         District
0     Afzalpur         Kalburgi
1    Ajjampura   Chikkamagaluru
2        Aland         Kalburgi
3     Alnavara          Dharwad
4         Alur           Hassan
..         ...              ...
222   Yalandur  Chamarajanagara
223  Yelahanka  Bengaluru_Urban
224   yelburga           Koppal
225   Yellapur   Uttara_Kannada
226        NaN              NaN

[227 rows x 2 columns]

/tmp/ipykernel_5966/121078081.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_impact['Taluka'][i] = df_impact['Taluka'][i].lower()

In [119]:
for i in temp_list:
    imr = []
    mmr = []
    paw = []
    imr_head = 'IMR HI ' + i + '0% | Impact'
    mmr_head = 'MMR HI ' + i + '0% | Impact'
    paw_head = 'PAW HI ' + i + '0% | Impact'
    dict = calculate_impact(df2, imr, mmr, paw, i)
    df_impact[imr_head] = imr
    df_impact[mmr_head] = mmr
    df_impact[paw_head] = paw

In [121]:
df_impact = df_impact.drop(226)
for i in range(len(df_impact)):
    df_impact['Taluka'][i] = df_impact['Taluka'][i].lower()

/tmp/ipykernel_5966/155124714.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_impact['Taluka'][i] = df_impact['Taluka'][i].lower()

In [122]:
df_impact

,Taluka,District,IMR HI -20% | Impact,MMR HI -20% | Impact,PAW HI -20% | Impact,IMR HI -10% | Impact,MMR HI -10% | Impact,PAW HI -10% | Impact,IMR HI +10% | Impact,MMR HI +10% | Impact,PAW HI +10% | Impact,IMR HI +20% | Impact,MMR HI +20% | Impact,PAW HI +20% | Impact
0,afzalpur,Kalburgi,0.804013,0.003543,0.450724,0.804013,0.003543,0.463367,0.011815,0.000052,0.483767,0.023081,0.000102,0.492481
1,ajjampura,Chikkamagaluru,0.599065,0.002640,0.220156,0.599065,0.002640,0.231825,0.008804,0.000039,0.252047,0.017197,0.000076,0.261065
2,aland,Kalburgi,0.813601,0.003586,0.296689,0.813601,0.003586,0.312582,0.011956,0.000053,0.340146,0.023356,0.000103,0.352443
3,alnavara,Dharwad,0.797075,0.003513,0.387051,0.797075,0.003513,0.400746,0.011714,0.000052,0.423566,0.022881,0.000101,0.433510
4,alur,Hassan,0.646132,0.002848,0.475402,0.646132,0.002848,0.483362,0.009495,0.000042,0.494842,0.018548,0.000082,0.499374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,yadrami,Kalburgi,0.830474,0.003660,0.705902,0.830474,0.003660,0.714287,0.012204,0.000054,0.724924,0.023840,0.000105,0.728679
222,yalandur,Chamarajanagara,0.430486,0.001897,0.411682,0.430486,0.001897,0.415139,0.006326,0.000028,0.418665,0.012358,0.000054,0.419613
223,yelahanka,Bengaluru_Urban,0.103346,0.000455,0.243030,0.103346,0.000455,0.241056,0.001519,0.000007,0.235642,0.002967,0.000013,0.232722
224,yelburga,Koppal,0.752716,0.003317,0.618049,0.752716,0.003317,0.626073,0.011062,0.000049,0.636658,0.021608,0.000095,0.640536
225,yellapur,Uttara_Kannada,0.519811,0.002291,0.080671,0.519811,0.002291,0.092942,0.007639,0.000034,0.115280,0.014922,0.000066,0.125513

In [99]:
df_impact.to_excel('3d_Impact_scaled.xlsx')